<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Default" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p [%C] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.log4j.xml" level="warn"/>
        <Root level="warn">
            <AppenderRef ref="Default"/>
        </Root>
    </Loggers>
</Configuration>
